*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

/* itna to likhna hi likhna hai... baaki iske alawa jo chaho add krlo but ye compulsory hai kind of */

/* # for id 
. for class
h1, h2 etc for tag */

/* h1{
    color: aquamarine;
} */

#abc{
    width: 20%;
    height: 50%;
    background-color: black;
}