*{
    margin: 0;
    padding: 0;
}

:root{
    --color: blue;
}

.nav{
    background-color: rgb(52, 188, 52);
}
.container{
    background-color: rgb(107, 205, 107);
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
}