*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}
.store{
    margin: auto;
    width: 60%;
    min-height: 100%;
    background-color: #b499996e;
}
h1{
  font-size: 60px;  
  text-align: center;
  padding: 25px;
}
.shoes{
    width: 100%;
    height: 100%;
}
.image >img{
    width: 100%;
}